<form nz-form [nzLayout]="'inline'" class="margin-bottom">
  <nz-form-item>
    <nz-form-label>{{'region' | translate}}</nz-form-label>
    <nz-form-control>
      <input name="name" [(ngModel)]="region" nz-input type="text"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>{{'Temperature now' | translate}}</nz-form-label>
    <nz-form-control>
      <input name="start_score" [(ngModel)]="temp_now" nz-input type="number"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>{{'Date' | translate}}</nz-form-label>
    <nz-form-control>
      <input name="end_score" [(ngModel)]="dayhour" nz-input type="number"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button debounceClick (debounceClick)="searchUser()" nz-button nzType="primary" class="mr-8">
        {{'SEARCH' | translate}}
      </button>
      <button nz-button nzType="primary" (click)="clearField()">{{'CLEAR' | translate}}</button>
    </nz-form-control>
  </nz-form-item>
</form>
<div class="toolbar">
  <div class="title"><i nz-icon nzType="table" nzTheme="outline"></i>{{'City List' | translate}}</div>
  <div class="toolbar-btns">
    <button nz-button nzType="default" (click)="addUser()"><i nz-icon nzType="plus" nzTheme="outline"></i>{{'ADD' | translate}}</button>
  </div>
</div>
<nz-table nzShowSizeChanger nzBordered [nzScroll]="{ x: '100%' }" [nzData]="siteList"
          [nzFrontPagination]="false" nzPaginationType="small" [nzLoading]="loading" [nzTotal]="total"
          (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
  <tr>
    <th>Stock ID</th>
    <th>Stock Name</th>
    <th>OPERATE</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of siteList">
    <td>{{data.name}}</td>
    <td><i nz-icon nzType="global" nzTheme="outline"></i> {{data.region}}</td>
    <td class="">
      <a (click)='toDetail(data)'>
        <i nz-icon nzType="area-chart" nzTheme="outline"></i>
        {{'prediction' | translate}}
      </a>
      <a (click)='toDelete(data)' style="margin-left: 15px">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        {{'delete' | translate}}
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
