<nz-input-group
  class="music-search"
  nzSearch
  nzSize="large"
  [nzAddOnAfter]="suffixButton"
>
  <input
    type="text"
    nz-input
    placeholder="please enter Game Name or Frame rate"
    [(ngModel)]="search"
  />
</nz-input-group>
<ng-template #suffixButton>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzSearch
    (click)="onSearch()"
  >
    <span nz-icon nzType="search"></span>Search
  </button>
  <button
    nz-button
    nzType="default"
    (click)="isVisible = true"
    style="margin-left: 15px"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>Add Game
  </button>
</ng-template>
<div style="padding: 20px 30px">
  <nz-spin [nzSpinning]="loading">
    <div nz-row [nzGutter]="8">
      <div
        nz-col
        [nzSpan]="8"
        *ngFor="let data of musicList"
        style="margin-bottom: 20px"
      >
        <nz-card
          nzHoverable
          [nzTitle]="titleTemplate"
          [nzExtra]="extraTemplate"
        >
          <div style="display: flex; justify-content: flex-start; height: 82px">
            <img
              style="width: 80px; height: 80px; margin-right: 20px"
              [src]="data.img_src"
            />
            <div>
              <div *ngFor="let name of data.names">
                <span>{{ name }}</span>
              </div>
              <span *ngFor="let item of data.fps" style="margin-right: 20px">{{
                item
              }}</span>
            </div>
          </div>
        </nz-card>
        <ng-template #titleTemplate>
          <span [style]="{ marginRight: '10px', cursor: 'pointer' }">{{
            data.names[0]
          }}</span>
          <span
            nz-icon
            nzType="heart"
            nzTheme="outline"
            (click)="onCollect(data)"
            style="color: red"
          ></span>
        </ng-template>
        <ng-template #extraTemplate>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="onDelete(data)"
            [style]="{ marginRight: '10px', cursor: 'pointer' }"
          ></span>
          <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="onEdit(data)"
            [style]="{ marginRight: '10px', cursor: 'pointer' }"
          ></span>
          <a (click)="toDetail(data)">Detail</a>
        </ng-template>
      </div>
    </div>
  </nz-spin>
  <nz-pagination
    [nzPageIndex]="page"
    [nzTotal]="total"
    nzShowSizeChanger
    [nzPageSize]="size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    style="text-align: right"
  ></nz-pagination>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add Game"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="submitForm()"
  (nzOnCancel)="isVisible = false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name"
          >Name
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input name!"
        >
          <input nz-input formControlName="name" id="name" placeholder="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="img_src"
          >Image URL
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input music image url!"
        >
          <input
            nz-input
            formControlName="img_src"
            id="img_src"
            placeholder="Image URL"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="fps" nzRequired
          >Frame rate/resolution
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input Frame rate/resolution!"
        >
          <input
            nz-input
            id="fps"
            formControlName="fps"
            placeholder="Frame rate/resolution"
            type="text"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
