<nz-input-group
  class="music-search"
  nzSearch
  nzSize="large"
  [nzAddOnAfter]="suffixButton"
>
  <input
    type="text"
    nz-input
    placeholder="please enter Music Title"
    [(ngModel)]="searchValue"
  />
</nz-input-group>
<ng-template #suffixButton>
  <button
    nz-button
    nzType="primary"
    nzSize="large"
    nzSearch
    (click)="onSearch()"
  >
    <span nz-icon nzType="search"></span>Search
  </button>
  <button
    nz-button
    nzType="default"
    (click)="isVisible = true"
    style="margin-left: 15px"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>Add Song
  </button>
</ng-template>
<nz-table #basicTable [nzData]="musicList">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Duration</th>
    <th>Artist</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of musicList">
    <td>{{ data.idx }}</td>
    <td>
      <img style="width: 50px; height: 50px" [src]="data.album.picUrl"/>
      {{ data.name }}
    </td>
    <td>{{ data.duration | formatTime }}</td>
    <td>{{ data.artist }}</td>
    <td>
      <a (click)="toDetail(data)">Detail</a>
      <nz-divider nzType="vertical"></nz-divider>
      <span
        nz-icon
        nzType="heart"
        nzTheme="outline"
        (click)="onCollect(data)"
        [style]="{ color: 'red',cursor: 'pointer' }"
      ></span>
      <span
        nz-icon
        nzType="delete"
        nzTheme="outline"
        (click)="onDelete(data)"
        [style]="{marginLeft: '10px', cursor: 'pointer'}"
      ></span>
    </td>
  </tr>
  </tbody>
</nz-table>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add Song"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="submitForm()"
  (nzOnCancel)="isVisible = false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
        >Name
        </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input name!"
        >
          <input nz-input formControlName="name" id="name" placeholder="name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="picUrl"
        >Image URL
        </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input music image url!"
        >
          <input
            nz-input
            formControlName="picUrl"
            id="picUrl"
            placeholder="Image URL"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="duration" nzRequired
        >Duration
        </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input duration(unit:s)!"
        >
          <input
            nz-input
            id="Duration"
            formControlName="duration"
            placeholder="duration"
            type="number"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="artist" nzRequired
        >Artist
        </nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please input artist!"
        >
          <input
            nz-input
            id="Artist"
            formControlName="artist"
            placeholder="artist"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
