::ng-deep .ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
  padding: 0 40px;
  font-size: 20px;
}
::ng-deep .ant-menu.ant-menu-dark {
  background-color: #000;
}
.layout {
  width: 100%;
}
:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}
.ant-layout-content {
  min-height: auto;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  min-height: 360px;
}

.logo {
  width: 700px;
  height: 64px;
  line-height: 64px;
  color: #fff;
  padding: 0 20px;
  float: left;
  font-size: 20px;
  font-weight: bold;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-footer {
  text-align: center;
}

.menu-ul {
  display: flex;
  justify-content: center;
}

.right-top-tool {
  position: absolute;
  top: 0;
  right: 50px;
  line-height: 60px;
  height: 40px;
  color: #fff;
}

.sign {
  margin-left: 20px;
  // color: $baseColor;
  cursor: pointer;
}
.sign:hover {
  color: #fff;
}

.inner-content {
  background: #fff;
  padding: 24px;
}
