<div class="layout">
  <nz-layout class="app-layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo">Movie App</div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/layout/list">List</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/layout/favorite">Favorite</a>
        </li>
      </ul>
    </nz-sider>

    <nz-layout>
      <nz-header>
        <span class="right-top-tool"
          >{{ username
          }}<span routerLink="/login" class="sign">sign out</span></span
        >
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <!-- <nz-footer>Movie App ©2022 Implement By me</nz-footer> -->
    </nz-layout>
  </nz-layout>
</div>
