<div class="login">
  <div class="login">
    <div class="header">Music App</div>
    <div class="login-container">
      <div class="contenter">
        <div class="login-title">{{ curStatus }}</div>
        <form
          *ngIf="curStatus == 'Login'"
          nz-form
          [formGroup]="validateForm"
          class="login-form"
          (ngSubmit)="submitForm('login')"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your userName!">
              <nz-input-group nzPrefixIcon="user">
                <input
                  type="text"
                  nz-input
                  formControlName="userName"
                  placeholder="Username"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  type="passWord"
                  nz-input
                  formControlName="passWord"
                  placeholder="Password"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Log in
          </button>
          Or
          <a (click)="changeLogin()" style="color: #036d81">register now!</a>
        </form>
        <form
          *ngIf="curStatus == 'Register'"
          nz-form
          nzLayout="horizontal"
          [formGroup]="validateForm"
          class="login-form"
          (ngSubmit)="submitForm('register')"
        >
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="userName" nzRequired>
              <span>Username</span>
            </nz-form-label>
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Please input your userName!"
            >
              <input
                nz-input
                id="userName"
                formControlName="userName"
                placeholder="Username"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="passWord" nzRequired
              >Password</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Please input your passWord!"
            >
              <input
                nz-input
                type="passWord"
                id="passWord"
                formControlName="passWord"
                placeholder="Password"
              />
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Register
          </button>
          <button
            nz-button
            [nzType]="'default'"
            style="color: #036d81; width: 100%"
            (click)="changeLogin()"
          >
            Back to Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
