<form nz-form [formGroup]="userForm">
    <div nz-row [nzGutter]="12">
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">{{'NAME' | translate}}</nz-form-label>
                <nz-form-control [nzSpan]="16" nzErrorTip="Please input a city name">
                    <input formControlName="city" nz-input minlength="3" maxlength="20" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<div class="footer">
    <button nz-button nzType="primary" (click)="submitUser()">{{'提交' | translate}}</button>
</div>
