<div class="song-info">
  <img
    style="width: 180px; height: 180px"
    [src]="musicInfo._value.albumPicUrl"
  />
  <div class="song-info-basic">
    <div class="title">{{ musicInfo._value.name }}</div>
    <div>演唱：{{ musicInfo._value.artist }}</div>
    <div>专辑：{{ musicInfo._value.albumName }}</div>
    <div>
      <!-- <el-tag
        v-for="item in detail.items"
        :key="item"
        size="small"
        style="margin: 8px 10px 3px 0"
        >{{ item }}</el-tag
      > -->
    </div>
    <div style="margin-top: 10px">
      <!-- <el-button type="primary" size="small" @click="againSearch"
        >再分析一首</el-button
      >
      <el-button type="warning" size="small" :icon="isfavo" circle></el-button> -->
    </div>
  </div>
</div>
<h2 style="margin-top: 20px; border-bottom: 1px solid #eee">Comments</h2>
<nz-list
  [nzDataSource]="commentList"
  [nzRenderItem]="item"
  [nzItemLayout]="'horizontal'"
>
  <ng-template #item let-item>
    <nz-comment [nzAuthor]="item.username" [nzDatetime]="item.update_time">
      <nz-avatar
        nz-comment-avatar
        nzIcon="user"
        [nzSrc]="item.avatar"
      ></nz-avatar>
      <nz-comment-content>
        <p>{{ item.comment }}</p>
      </nz-comment-content>
      <nz-comment-action>Reply to</nz-comment-action>
    </nz-comment>
  </ng-template>
</nz-list>
<h3 style="margin-top: 20px">add comment</h3>
<nz-comment>
  <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]=""></nz-avatar>
  <nz-comment-content>
    <nz-form-item>
      <textarea [(ngModel)]="commentValue" nz-input rows="4"></textarea>
    </nz-form-item>
    <nz-form-item>
      <button
        nz-button
        nzType="primary"
        [nzLoading]="submitting"
        [disabled]="!commentValue"
        (click)="handleSubmit()"
      >
        Add Comment
      </button>
    </nz-form-item>
  </nz-comment-content>
</nz-comment>
