<nz-table #basicTable [nzData]="favoriteList" [nzLoading]="loading">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Release Date</th>
      <th>Publisher</th>
      <th>Game Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.idx + 1 }}</td>
      <td>
        <img
          style="width: 50px; height: 50px; margin-right: 20px"
          src="https://img2.baidu.com/it/u=2253673318,3372600971&fm=253&fmt=auto&app=138&f=JPEG?w=528&h=500"
        />
        {{ data.Title }}
      </td>
      <td>{{ data["Release Date"] }}</td>
      <td>{{ data.Publisher }}</td>
      <td>{{ data["Game Description"] }}</td>
      <td>
        <span
          nz-icon
          nzType="heart"
          nzTheme="outline"
          (click)="deleteCollect(data)"
          style="cursor: pointer"
        ></span>
      </td>
    </tr>
  </tbody>
</nz-table>
