<div class="toolbar">
  <div class="title"><i nz-icon nzType="table" nzTheme="outline"></i>All the stock we have</div>
</div>



<nz-table nzShowSizeChanger
          nzShowPagination
          nzBordered
          [nzScroll]="{ x: '100%' }"
          [nzData]="dataList"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          [nzLoading]="loading"
          (nzQueryParams)="onQueryParamsChange($event)"
          (nzPageIndexChange)="changePageIndex($event)"
          (nzPageSizeChange)="changePageSize($event)">
  <thead>
  <tr>
    <th>{{'Stock Code' |translate}}</th>
    <th>{{'Stock Name' | translate}}</th>
    <th>{{'Collect Stock' |translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of stockList">
    <td>
      <i nz-icon nzType="stock" nzTheme="outline"></i>{{data.code}}
    </td>
    <td>
      <span><i nz-icon nzType="sliders" nzTheme="outline"></i>{{data.name}}</span>
    </td>
    <td>
      <i nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eba92f'" (click)="collectStock(data.code)"></i>
    </td>
  </tr>
  </tbody>
</nz-table>
<div style="text-align: right;">
  <button nz-button class="theme-bgcolor" (click)="backTo()">{{'Back to my favorite stock' |
    translate}}</button>
</div>

<nz-demo-comment-list></nz-demo-comment-list>

