$baseColor: rgb(14, 166, 148);
::ng-deep .ant-btn-primary,
::ng-deep .ant-btn-primary:focus,
::ng-deep .ant-btn-primary:hover {
  border-color: $baseColor;
  background: $baseColor;
}
::ng-deep .ant-btn:focus,
::ng-deep .ant-btn:hover {
  border-color: $baseColor;
}
::ng-deep .ant-menu.ant-menu-dark .ant-menu-item-selected,
::ng-deep .ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: $baseColor;
  background-color: $baseColor;
}
::ng-deep .ant-pagination-item-active,
::ng-deep .ant-pagination-item-active:hover,
::ng-deep .ant-pagination-item:hover {
  border-color: $baseColor;
}
::ng-deep .ant-pagination-item-active a,
::ng-deep .ant-pagination-item:hover a {
  color: $baseColor;
}
