<form
  nz-form
  nzLayout="inline"
  [formGroup]="searchForm"
  (ngSubmit)="getWegameList()"
  style="padding: 20px 10%"
>
  <div nz-row style="width: 100%">
    <div nz-col nzSpan="6" *ngFor="let field of searchField">
      <nz-form-item>
        <nz-form-label>{{ field.label }}</nz-form-label>
        <nz-form-control [nzErrorTip]="'Please input ' + field.label!">
          <nz-select
            *ngIf="field.value == 'type'"
            [ngModel]="field.value"
            [nzPlaceHolder]="field.label"
            [formControlName]="field.value"
          >
            <nz-option
              *ngFor="let item of typeOption"
              [nzValue]="item.value"
              [nzLabel]="item.label"
            ></nz-option>
          </nz-select>
          <input
            *ngIf="field.value != 'type'"
            nz-input
            [formControlName]="field.value"
            [placeholder]="field.label"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <button nz-button nzType="primary">Submit</button>
      <button
        nz-button
        nzType="default"
        (click)="isVisible = true"
        style="margin-left: 15px"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>Add
      </button>
    </div>
  </div>
</form>

<div style="padding: 5px 10%">
  <nz-spin [nzSpinning]="loading" style="margin: 20px auto">
    <nz-list nzItemLayout="vertical">
      <nz-list-item *ngFor="let item of wegameList">
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <a
              style="
                color: #373737;
                font-weight: bolder;
                font-size: 18px;
                margin-right: 15px;
                text-decoration: underline;
              "
              (click)="toDetail(item)"
              >{{ item.Name }}</a
            >
            <span>{{ item.Developer }}</span>
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            {{ item["Release Date"] }} &nbsp;
            <span style="color: #333">By</span> &nbsp; {{ item["Distributer"] }}
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <div class="text-overflow" [title]="item.Summary">
          {{ item["Summary"] }}
        </div>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <span style="margin-right: 8px">💬</span>
            {{ item["# of Critic Reviews"] }}
          </nz-list-item-action>
          <nz-list-item-action>
            <span style="margin-right: 8px">🙂</span>
            {{ item["Critic Positive"] }}
          </nz-list-item-action>
          <nz-list-item-action>
            <span style="margin-right: 8px">😐</span>
            {{ item["Critic Negative"] }}
          </nz-list-item-action>
        </ul>
        <nz-list-item-extra>
          <img
            width="180"
            alt="logo"
            src="../../../../assets/images/game.png"
          />
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </nz-spin>
  <nz-pagination
    [nzPageIndex]="page"
    [nzTotal]="total"
    nzShowSizeChanger
    [nzPageSize]="size"
    (nzPageIndexChange)="pageChange($event)"
    (nzPageSizeChange)="pageSizeChange($event)"
    style="text-align: right"
  ></nz-pagination>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Add Wegame"
  nzOkText="Ok"
  nzCancelText="Cancel"
  (nzOnOk)="submitForm()"
  (nzOnCancel)="isVisible = false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="addForm">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="24" *ngFor="let field of addField">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
              >{{ field.label }}
            </nz-form-label>
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              [nzErrorTip]="'Please input ' + field.label!"
            >
              <input
                nz-input
                [formControlName]="field.value"
                id="name"
                [placeholder]="field.label"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-container>
</nz-modal>
