<div style="padding: 10px 10%">
  <div class="song-info">
    <img
      style="width: 60%; height: 400px"
      src="../../../../assets/images/game.png"
    />
    <div class="song-info-basic">
      <div class="title">
        {{ movieInfo.Name }}
        <span style="float: right">
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="onDelete()"
            [style]="{ marginRight: '10px', cursor: 'pointer' }"
          ></span>
          <span
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="onEdit()"
            [style]="{ marginRight: '10px', cursor: 'pointer' }"
          ></span>
          <button
            nz-button
            nzType="default"
            nzSize="small"
            style="float: left"
            routerLink="/layout/list"
          >
            < Back
          </button>
        </span>
      </div>
      <!-- <div>director: {{ movieInfo.director }}</div>
    <div>duration: {{ movieInfo.duration }}</div>
    <div>country: {{ movieInfo.country }}</div>
    <div>release year: {{ movieInfo.release_year }}</div>
    <div>description: {{ movieInfo.description }}</div> -->
    </div>
  </div>
  <h2 style="margin-top: 20px; border-bottom: 1px solid #eee">Details</h2>
  <nz-list
    [nzDataSource]="commentList"
    [nzRenderItem]="item"
    [nzItemLayout]="'horizontal'"
  >
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.username" [nzDatetime]="item.update_time">
        <nz-avatar
          nz-comment-avatar
          nzIcon="user"
          [nzSrc]="item.avatar"
        ></nz-avatar>
        <nz-comment-content>
          <p>{{ item.comment }}</p>
          <i
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="removeComment(item)"
            style="cursor: pointer"
          ></i>
        </nz-comment-content>
      </nz-comment>
    </ng-template>
  </nz-list>
  <h2 style="margin-top: 20px; border-bottom: 1px solid #eee">All Platforms</h2>
  <nz-card nzTitle="Cart Title">
    <div nz-card-grid *ngFor="let item of movieInfo['Also On'].split(',')">
      {{ item }}
    </div>
    <div nz-card-grid>Content</div>
    <div nz-card-grid>Content</div>
    <div nz-card-grid>Content</div>
    <div nz-card-grid>Content</div>
    <div nz-card-grid>Content</div>
    <div nz-card-grid>Content</div>
  </nz-card>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Edit Movie"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnOk)="submitForm()"
    (nzOnCancel)="isVisible = false"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="editForm">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24" *ngFor="let field of editField">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name"
                >{{ field.label }}
              </nz-form-label>
              <nz-form-control
                [nzSm]="14"
                [nzXs]="24"
                [nzErrorTip]="'Please input ' + field.label!"
              >
                <input
                  nz-input
                  [formControlName]="field.value"
                  id="name"
                  [placeholder]="field.label"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
    </ng-container>
  </nz-modal>
</div>
